.centered_Div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    border-color: red;
    background-image: url('https://images.alphacoders.com/107/thumb-1920-107763.jpg');
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.flexForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}


.personaje-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('https://m.media-amazon.com/images/I/6127qsu+YbL.jpg');
    background-size: cover;
    background-position: center;
}

.personaje-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
    color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    text-align: center;
}

.personaje-name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.personaje-info {
    font-size: 1.1rem;
    margin: 5px 0;
}

.films-list {
    list-style: none;
    padding: 0;
}

.films-list li {
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 3px;
    margin: 5px;
    border-radius: 10px;
}
